.filter {
  width: 100%;
  height: 92px;
  background: #664ef9;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
}

.filterContainer {
  width: 100%;
  max-width: 1440px;
}

.form {
  display: flex;
  align-items: center;
}

.filterLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;

  opacity: 0.7;
}

/* .filterSelect {
  background: #ced2fe;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
}
 */
