.pagination {
  display: flex;
  margin-top: 74px;
  margin-bottom: 96px;
}

.paginationLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  padding: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #686868;
}
.paginationLink.active {
  position: relative;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  &::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffd54f;
  }
}

.lastPage {
  display: flex;
  align-items: baseline;
}
