.footerLeftSide {
  width: 20%;
}

.footerLogo {
  margin-bottom: 7px;
}
.footerLogoSubtitle {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #8291a3;
}

.footerAddress {
  font-size: 11px;
  line-height: 13px;
  color: #8291a3;
}
