.footer__left-side {
  width: 20%;
}

.footer__logo {
  margin-bottom: 7px;
  &-subtitle {
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8291a3;
  }
}

.footer__address {
  font-size: 11px;
  line-height: 13px;
  color: #8291a3;
}
