.addAdvButton {
  margin-left: auto;
  padding: 10px 18px;
  background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
  border: none;
  border-radius: 19px;

  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
