.footerSocialNetworks {
  display: flex;
  align-items: center;
}

.footerSocialTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1e2123;
  margin-right: 25px;
}
.footerSocialNetworksList {
  display: flex;
  align-items: center;
}

.footerSocialNetworksItem {
  margin-right: 14px;
}
