@import "_fonts.scss";
@import "_normalize.scss";
@import "_variables.scss";

* {
  font-family: Inter;
}
html {
  overflow-x: hidden;
}

p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
